.git
.gitignore
node_modules
npm-debug.log
.DS_Store
.venv
venv
env
__pycache__
*.pyc
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor/
.env
.env.local
